.contact{
    position: relative;
}
.contact .title-ct{
    position: absolute;
    top: 15%;
    font-size: 180px;
    color: transparent;
    -webkit-text-stroke: 1px #cccccc5c;
    animation: shake 3s infinite;
}
@keyframes shake{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
.container-ct .email{
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.container-ct .email a{
    font-size: 42px;
    color: #fff;
}
.container-ct .email a:hover{
    color: transparent;
    -webkit-text-stroke: 1px #00e7ff;
    cursor: pointer;
    transition: .3s;
}
.container-ct .email p{
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
}
.copyright{
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}