.portfolio{
    height: 100%;
    position: relative;
    margin: auto;
}
.portfolio-title{
    color: transparent;
    -webkit-text-stroke: 1px #cccccc4f;
    font-size: 84px;
    position: absolute;
    letter-spacing: 50px;
    top: 8%;
    text-transform: uppercase;
    right: 3%;
    z-index: 1;
}
.swiper2 {
    width: 1245px;
    height: 100vh;
    
  }

  .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #111;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper-slide .project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  .swiper-slide .project .image{
    width: 50%;
    height: 100%;
    flex: 0.4;
    border-radius: 16px;
  }
  .swiper-slide .project-desc{
    flex: 0.6;
    text-align: center;
    height: 100%;
    padding-left: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
    .swiper-slide .project-desc .title{
    margin-bottom: 30px;
    font-size: 48px;
  }
  .swiper-slide .project-desc h1.where,.swiper-slide .project-desc h1.today{
    margin-bottom: 0;
    line-height: 1.2em;
    font-size: 40px;
}
.swiper-slide .project-desc h1.where span{
  color: dodgerblue;
}
  .swiper-slide .project-desc p:nth-of-type(1){
    margin-top: 20px;
  }
  .swiper-slide .project-desc p{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  .swiper-slide .project-desc p span:nth-child(1){
    width: 200px;
  }
  .swiper-slide .project-desc p span:nth-child(2){
    width: 300px;
    text-align: center;
    font-weight: bold;
  }

  .detail{
    color: #fff;
    position: relative;
    top: 10%;
    border: 1px solid #fff;
    padding: 1em;
    border-radius: 16px;
  }
  .detail:hover{
    background-color: dodgerblue;
    border: none;
}
  .portfolio .swiper-button-next,.portfolio .swiper-button-prev{
    color: #00e7ff;
  }
  .portfolio-title-active{
    animation: right 2s forwards;
  }
  @keyframes right{
    0%{
      opacity: 0;
      right: -40%;
    }
    100%{
      opacity: 1;
      right: 0;
    }
  }