@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.6em;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #222;
}

/* 토글 */
.toggle{
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
}
.channel.active + a .github{
    opacity: 0;
}
.toggle i:not(.github){
    position: relative;
    width: 100px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 24px;
    cursor: pointer;
    color: #000;
    box-shadow: 0 0 10px rgb(255 255 255 / 50%);
    transition: .5s;
    border-color: rgba(0,0,0,.01);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 5px;
    left: 20px;
}


.toggle button{
    border: none;
    background-color: #fff;
    font-size: 16px;
    position: relative;
    top: -1px;
    cursor: pointer;
}

.logo{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.github{
    position: relative;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
}

/* overlay */
/* .overlay{
    background-color: #000;
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    transition: 1s;
    opacity: 0;
    z-index: 1;
}
.overlay.active{
    transform: scale(120);
    opacity: 1;
} */

/* overlay - 상하버전 */
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.overlay.active{
    z-index: 2;
}
.overlay::before,.overlay::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    /* width: 0;
    height: 100%; */ 
    /* 좌우에서 열리는 버전 */
    background-color: #000;
    transition: .5s;
}
.overlay::before{
    top: 0;
    /* 중앙에서 상하로 열리려면 50% */
    left: 0; 
    /* 좌우에서 열리는 버전, 중앙에서 열리려면 50% */
}
.overlay::after{
    bottom: 0;
    /* 중앙에서 상하로 열리려면 50% */
    right: 0;
    /* 좌우에서 열리는 버전, 중앙에서 열리려면 50% */
    background-color: #000;
}
.overlay.active:before,.overlay.active::after{
    height: 50%;
}

/* common */
section:not(.about){
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(even){
    background-color: #ccc;
}
section .inner{
    width: 1150px;
    text-align: center;
}

/* heading */
.heading h1{
    font-size: 3em;
    position: relative;
    padding-bottom: 30px;
}
.heading h1::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: red;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.heading p{
    font-size: 1.2em;
    line-height: 1.5em;
}

/* welcome */
.welcome{
    height: 100vh;
    background-color: #fff;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 100%;
}

.welcome .subtitle{
    
}
.welcome .title{
    margin: 20px;
}

/* gnb */

.gnb{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    z-index: 2;
    padding: 0;
}
.gnb.active{
    opacity: 1;
    visibility: visible;
}
.gnb a{
    color: #fff;
    text-decoration: none;
    font-size: 3.5em;
    line-height: 1.6em;
    position: relative;
}
.gnb a::after{
    content: '';
    position: absolute;
    height: 15px;
    width: 0;
    background-color: rgb(200 132 223);
    left: 0;
    bottom: 7px;
    z-index: -1;
    transition: .35s;
}
.gnb a:hover::after{
    width: 100%;
}

.next{
    position: absolute;
    bottom: 30px;
    left: 47.5%;
    transform: translateX(-50%);
    animation: move 2s infinite;
    z-index: 1;
}
.next a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.next i{
    font-size: 40px;
}
.next a{
    font-size: 20px;
    cursor: pointer;
}

@keyframes move{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* swiper */
.onair{
    width: 90%;
    height: 10vh;
    margin: auto;
    margin-top: 30px;
    position: relative;
}
.swiper:not(.portfolio-swiper){
    height: 10vh;
    position: static;
}
.swiper-slid:not(.portfolio-swiper-slide) {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #000;
}

.swiper-wrapper .odd{
    height: 8vh;
    top: 18px;
}
.swiper-wrapper .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.swiper-wrapper .box div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-wrapper .box div.onair-content{
    height: 100%;
    justify-content: left;
    padding-left: 20px;
    font-size: 24px;
}
.onair-block{
    flex: 1;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 20px;
}
.onair-content{
    flex: 3;
    border: 1px solid #000;
    justify-content: left;
}
.onair .swiper-button-next{
    right: -60px
}
.onair .swiper-button-prev{
    left: -60px;
}
.onair .swiper-button-next,.onair .swiper-button-prev{
    color: #707070;
}