@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body{
    background: url(img/svg-background.svg);
    color: #333;
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
    height: 100vh; /* absolute일 때, 높이 값이 없다면 이미지가 나오지 않음 */
}

a{
    text-decoration: none;
}

.about{
    height: 100vh;
}
.about-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.frame{
    width: 100%;
    text-align: center;
}
.profile{
    width: 320px;
    padding: 50px 30px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 20px;
    transition: .3s;
}

.face{
    width: 120px;
    height: 120px;
    /* margin: auto; */
    display: inline-block; /* 부모 요소에 중앙 정렬이 되어 있기 때문 */
    position: relative;
}
.face i{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: dodgerblue;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
}
.face img{
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profile h1{
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0;
}
.profile h1 span{
    display: block;
    font-size: 13px;
    color: #bbb;
    text-transform: uppercase;
    margin-top: 10px;
}
.profile p{
    margin-top: 5px;
    margin-bottom: 10px;
}
.profile p span{
    display: block;
    color: royalblue;
}
.view-portfolio{
    background-color: #00cec9;
    padding: 5px;
    color: #fff;
    border-radius: 30px;
    text-transform: capitalize; /* 첫글자만 대문자 */
    display: inline-block;
    width: 180px;
}
.sns{
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 30px;
}
.sns div{
    display: inline-block;
    width: 30%;
}
.sns div i{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: #fff;
    width: 70px;
    height: 70px;
    font-size: 2.5em;
    line-height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.sns div:nth-child(1) i{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.sns div:nth-child(2) i{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.sns div:nth-child(3) i{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
.sns div span{
    font-size: 13px;
    color: #bbb;
}
.sns div span big{
    display: block;
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}
.like-more{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
}
.btn-like{
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.btn-like::before{
    content: "\ea11";
    font-family: xeicon;
}
.btn-like.active::before{
    content: "\ea10";
}
.btn-more{
    cursor: pointer;
}

/* dark-mode */
.profile.dark{
    background-color: #323650;
    transition: .3s;
}
.profile.dark .btn-mode,.profile.dark .like-more{
    color: #fff;
}
.profile.dark h1{
    color: #fff;
}
.profile.dark p{
    color: #fff;
}
.profile.dark .sns{
    border-top: 1px solid #555;
}
.profile.dark .sns div span big{
    color: #fff;
}
.profile.dark .btn-mode::before{
    content: "\eba3";
}

.profile-desc{
    border: 1px solid #000;
}