@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body{
    color: #333;
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
    height: 100vh; /* absolute일 때, 높이 값이 없다면 이미지가 나오지 않음 */
}

a{
    text-decoration: none;
}

.about{
    height: 100vh;
}
.about-section:not(.title-about){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.title-about{
    position: absolute;
    top: 16%;
    left: -1%;
    font-size: 180px;
    color: rgb(70 70 70 / 40%);
    transform: rotate(-10deg);
    opacity: 0;
}

.title-active{
    opacity: 1;
    animation: aboutmove 2s;
    animation-fill-mode: forwards;
}

@keyframes aboutmove{
    0%{
        left: -46%;
    }
    100%{
        left: -1%;
    }
}

.frame{
    width: 100%;
    text-align: center;
}

.profile{
    width: 370px;
    padding: 50px 30px;
    box-sizing: border-box;
    background: #111;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 20px;
    transition: .3s;
    color: #fff;
}

.face{
    width: 300px;
    height: 300px;
    /* margin: auto; */
    display: inline-block; /* 부모 요소에 중앙 정렬이 되어 있기 때문 */
    position: relative;
}
.face i{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: dodgerblue;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
}
.face img{
    width: inherit;
    height: inherit;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profile h1{
    font-size: 26px;
    font-weight: normal;
    margin: 10px;
}
.profile h1 span{
    display: block;
    font-size: 13px;
    color: #bbb;
    text-transform: uppercase;
    margin-top: 10px;
}
.view-portfolio{
    background-color: #00cec9;
    padding: 5px;
    color: #fff;
    border-radius: 30px;
    text-transform: capitalize; /* 첫글자만 대문자 */
    display: inline-block;
    width: 180px;
}
.strength{
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 30px;
}

.profile-desc{
    width: 620px;
    background-color: #111;
    border-radius: 8px;
    padding: 50px 30px;
    color: #fff;
    font-weight: 300;
    position: relative;
    top: 50px;
}
.profile-desc h5{
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6em;
}
.profile-desc h5::before:not(.strength > h5){
    content: 'O';
    padding-right: 20px;
}
.strength h5 span{
    padding-right: 5px;
    font-size: 24px;
}